.price-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.price {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
