.timeline {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.event {
  display: flex;
}

.event:not(:last-child) {
  margin-bottom: 8px;
}

h3 {
  font-size: 1rem !important;
  margin-bottom: 0;
}

.event p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.event.completed .media {
  fill: green;
}

.event .media:empty::before {
  content: '';
  display: block;
  border-radius: 100%;
  border: 0.5px solid white;
  height: 75%;
  width: 75%;
}

.event .media {
  min-width: 1.25rem;
  min-height: 1.25rem;
  max-width: 1.25rem;
  max-height: 1.25rem;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

.spinner-grow {
  min-width: 1.25rem;
  min-height: 1.25rem;
  max-width: 1.25rem;
  max-height: 1.25rem;
}
