.timeline {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.event {
  display: flex;
}

.event:not(:last-child) {
  margin-bottom: 8px;
}

h3 {
  font-size: 1rem !important;
  margin-bottom: 0;
}

.event p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.event .media {
  position: relative;
}

.event svg {
  z-index: 25;
  position: absolute;
}

.event.completed .svg {
  fill: green;
}

.event .media {
  min-width: 1.25rem;
  max-width: 1.25rem;
  margin-right: 8px;
  justify-content: center;
}

.event .media::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 100%;
  background-color: white;
  height: 16px;
  width: 16px;
  top: 2px;
}

.event.inprogress .media::before,
.event .media:empty::before {
  background-color: unset;
  border: 1px solid white;
}

.event:not(:last-child) .media::after {
  content: '';
  width: 2px;
  height: calc(100% - 8px);
  background-color: white;
  position: absolute;
  top: 18px;
  z-index: 24;
}

.event.completed .media::after {
  background-color: green;
}

.event .media .custom-grow {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
}
